@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .w-icon {
    @apply fill-current w-5 h-5;
  }
  .w-form {
    @apply px-4 flex flex-col gap-y-4;
  }
  .w-btn {
    @apply h-12 w-full border-none rounded-lg px-3 flex justify-center items-center text-lg text-white bg-primary;
  }
  .w-input-text {
    @apply h-12 pl-4 leading-8 py-2 rounded-lg text-lg border border-primary;
  }
}